PORT=3000
DATABASE_URL=your_neon_postgres_connection_string
JWT_SECRET=your_jwt_secret
GROQ_API_KEY=your_groq_api_key
DISCORD_WEBHOOK_URL=your_discord_webhook_url
NODE_ENV=development

"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiIxNWExNTZmZC1hODIxLTRjMGQtODlhOC1lYTA5NWJlN2JjZGYiLCJlbWFpbCI6ImFsaWNlQGV4YW1wbGUuY29tIiwiaWF0IjoxNzgwNDgxNTg4LCJleHAiOjE3ODEwODYzODh9.0iaPe2jbWp7xiAJWRUE663COpfkPYjqujIfv9FO4TyM"

"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiIxNWExNTZmZC1hODIxLTRjMGQtODlhOC1lYTA5NWJlN2JjZGYiLCJlbWFpbCI6ImFsaWNlQGV4YW1wbGUuY29tIiwiaWF0IjoxNzgwNDgxNzI3LCJleHAiOjE3ODEwODY1Mjd9.aPt7dhjtxZ_csvf-e2XVeufUOxR9P_rbxX1Z2Gx6AA0"

"id": "38a9cc3c-9885-4d37-ab4a-5f5fb49d5ba4",

action "id": "06db3c97-d514-4613-a455-47004109331c",